<form method="GET" action="/admin/ky-thuat-vien/danh-sach" class="mb-3">
    <div class="row g-2 align-items-center">
        <div class="col-md-10">
            <input type="text" name="q" class="form-control rounded-pill" placeholder="Tìm kiếm kỹ thuật viên theo tên, email hoặc số điện thoại..." value="<%= searchQuery %>">
        </div>
        <div class="col text-end">
            <button class="btn btn-custom w-100 rounded-pill text-white" type="submit"
                style="background-color: #2196f3">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm
            </button>
        </div>
    </div>
</form>
