<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-relative">
        <div class="d-flex justify-content-between mb-3">
            <p class="fs-5 text-gray-700 text-start" id="pageTitle">Duyệt bác sĩ</p>
        </div>
        <div id="contentArea">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>

<!-- THÔNG BÁO -->
<% if (message && message.trim() !== '') { %>
    <script>
        let EC = '<%= EC %>';  // Lấy giá trị của EC từ server
        const iconMap = {
            '0': 'success',     // Thành công
            '-1': 'error',      // Lỗi
            '1': 'warning',     // Cảnh báo
            '2': 'info',        // Thông tin
            '3': 'question'     // Câu hỏi
        };
        const iconType = iconMap[EC] || 'info';
        window.addEventListener('load', () => {
            Swal.fire({
                title: 'Thông báo!',
                text: '<%= message %>',
                icon: iconType,
                confirmButtonText: 'OK',
            });
        });
    </script>
<% } %>

<script>
    async function updateDoctorList() {
        let response = await fetch('/pending-doctors');
        let html = await response.text();
        document.getElementById("contentArea").innerHTML = html;
    }
    window.onload = updateDoctorList;
</script>
