<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-danger">
			<div class="modal-header bg-danger text-white">
				<h5 class="modal-title">Thông báo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<p id="alertModalMessage" class="mb-0"></p>
			</div>
		</div>
	</div>
</div>
